<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div *ngIf="user != undefined">
      Welcome {{ user["first_name"]  }} {{ user["last_name"]  }}
  </div>

</ion-content>
