<ion-header>
  <ion-toolbar>
    <ion-title>Welcome to Pinkie's App</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
   <ion-img src="./assets/images/sean-o-KMn4VEeEPR8-unsplash.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Welcome to Pinkie's App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="full" color="primary" (click)="login()">Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" expand="full" color="danger" (click)="register()">Register</ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>